[*]
charset = utf-8
end_of_line = lf

[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = false
max_line_length = 88

[{.editorconfig,.gitignore}]
insert_final_newline = true
