[Unit]
Description=Dowwner personal wiki

[Service]
Type=simple
User=10sr
Group=users
ExecStart=/usr/bin/dowwner -r /home/10sr/dbx/note -p 2505

[Install]
WantedBy=multi-user.target
